<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a  target="_top" class="navbar-item .title navbar-brand"  id="title-nav" disable  routerLink="/">App <strong>Espace</strong> </a>
    <button role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
    <i class="fas fa-bars"></i></button>
  </div>

  <div id="avbarBasicExample" class="navbar-menu">

      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-primary">
              <strong>Sign up</strong>
            </a>
            <a class="button is-light">
              Log in
            </a>
          </div>
        </div>
      </div>
    </div>

</nav>
