
<div class="container ">

<!-- botones -->
<div class="columns botones" >
  <div class="column is-four-fifths">
      <input class="input is-primary buscar inputs" [(ngModel)]="searchText" type="text" placeholder="Buscar en la Lista" id="">
  </div>
  <div class="column">
    <button class="button is-primary inputs" (click)="onCreateDeuda($event)" type="submit">
      <i class="fas fa-plus"></i>
       Agregar Deuda</button>
  </div>
</div>
  <!-- contenido -->
  <table class="table">
    <thead class="thead">
      <tr>
        <th>#</th>
        <th>Fecha</th>
        <th>Cliente</th>
        <th>Concepto</th>
        <th>Nota</th>
        <th class="signo"></th>
        <th>Total</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr class="tr-body"  *ngFor="let duda of deudoritem;let i=index">
         <th>{{i}}</th>
         <th>12/12/2018</th>
         <th>{{duda.nombre}}</th>
         <th>{{duda.descripcion}}</th>
           <th>
             <label *ngIf="duda.nota.length == 0" class="datoVacio">Sin Nota</label>
             <label *ngIf="duda.nota.length >= 1" class="">{{duda.nota}}</label>
           </th>
           <th class="signo"> <span><i class="fas fa-dollar-sign"></i></span> </th>
           <th  class="celda-numero" >
             <label *ngIf="duda.cantidad == 0" class="datoVacio">0.00</label>
              <label for="" *ngIf="duda.cantidad != 0">
               {{duda.cantidad}}<label *ngIf="duda.cantidad % 1 == 0">.00</label><label *ngIf="duda.cantidad % 1 != 0">0</label>
             </label>
           </th>
         <th class="btn-acciones">
            <i class="fas fa-edit" (click)="onEditDeuda($event,duda)"></i>
            <i class="fas fa-money-bill-alt"(click)="onSaldarDeuda($event,duda)"></i></th>
      </tr>
    </tbody>
    <tfoot class="white-ter">
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th class="deuda-total">Deuda Total:</th>
        <th class="signo"><i class="fas fa-dollar-sign"></i></th>
        <th class="celda-numero">{{totalDeudas}}<label *ngIf="totalDeudas % 1 == 0">.00</label><label *ngIf="totalDeudas % 1 != 0">0</label>
        </th>
        <th></th>
      </tr>
    </tfoot>

  </table>




  </div>

 <!--Modales ////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////7 -->

  <div *ngIf="ediState" class="pupConfirmer">
    <!--editar deuda -->
      <div class="card content-modal-edit">
          <header class="card-header">
            <p class="card-header-title">
              <i class="fas fa-marker"></i>
              Editar Deuda
            </p>
            <div class="navbar-end">
              <span class="icon close">
                <i class="fas fa-times" (click)="onCancel($event)"></i>
              </span>
            </div>
          </header>
          <div class="card-content">
            <div class="content">
              <form class="form" >
              <div class="field">
                <label  class="label">Nombre del Cliente </label>
                <div class="control">
                    <input [(ngModel)]="deudaParaEditar.nombre" #nombre="ngModel" name="nombre"  type="email" class="input" value="{{deudaParaEditar.nombre}}">
                </div>
              </div>
              <div class="field">
                <label  class="label">Concepto</label>
                <div class="control">
                  <input [(ngModel)]="deudaParaEditar.descripcion" #descripcion="ngModel"
                   name="descripcion" type="text" class="input"
                    value="{{deudaParaEditar.descripcion}}">
                </div>
              </div>

              <div class="field">
                <label  class="label">Nota</label>
                <div class="control">

                  <input [(ngModel)]="deudaParaEditar.nota" #nota="ngModel"
                  name="nota" type="text" class="input" value="{{deudaParaEditar.nota}}">
                </div>
              </div>

              <div class="field">
                <label  class="label">Total
                  <i class="fas fa-toggle-on" (click)="onDesbloq($event)"></i>
                </label>
                <div class="control totalBloq" id="total">
                  <p class="control  has-icons-left has-icons-right">
                        <label  class="icon is-small is-left" for="">$</label>
                        <input *ngIf="desbloq == false" class="input" type="number" value="{{deudaParaEditar.cantidad}}"  disabled>
                      <input  *ngIf="desbloq == true"  [(ngModel)]="deudaParaEditar.cantidad" #nota="ngModel"
                      name="cantidad" type="number" class="input" value="{{deudaParaEditar.cantidad}}">
                    </p>
                </div>
              </div>

              </form>
            </div>
          </div>
          <footer class="card-footer">
              <a  class="card-link" (click)="onGuardar($event)" id="edit">Guardar</a>
              <a  class="card-link" (click)="onCancel($event)" id="dele">Cancelar</a>
            </footer>
        </div>

  </div>


  <div *ngIf="crearState" class="pupConfirmer">
    <!--crear deuda -->
      <div class="card content-modal-crea">
          <header class="card-header">
            <p class="card-header-title">
              <i class="fas fa-credit-card"></i>
              Nuevo Credito
            </p>
            <div class="navbar-end">
              <span class="icon close" >
                 <i class="fas fa-times" (click)="onCancel($event)"></i>
              </span>
            </div>
          </header>
          <div class="card-content">
            <div class="content">
              <form class="" >
              <div class="field">
                <label  class="label">Nombre Completo</label>
                <div class="control">
                    <input
                    [(ngModel)]="deudornuevo.nombre"
                    #nombre="ngModel" name="nombre"  type="text"
                    class="input"  placeholder="Juanito Oso" >
                </div>
              </div>
              <div class="field">
                <label  class="label">Cantidad</label>
                <div class="control">
                  <input [(ngModel)]="deudornuevo.cantidad" #cantidad="ngModel" name="cantidad" type="number" class="input"  placeholder="$$$">
                </div>
              </div>

              <div class="field">
                <label  class="label">Descripcion de Compra</label>
                <div class="control">
                  <input [(ngModel)]="deudornuevo.descripcion" #descripcion="ngModel" name="descripcion" type="text" class="input" placeholder="Dos Galletas Marias" >
                </div>
              </div>

              <div class="field">
                <label  class="label">Nota Extra</label>
                <div class="control">
                  <input [(ngModel)]="deudornuevo.nota" #nota="ngModel" name="nota" type="text" class="input" placeholder="Dijo que venia al dia siguiente" >
                </div>
              </div>



              </form>
            </div>
          </div>
          <footer class="card-footer">
            <a  class="card-link" (click)="onCreateYa($event)" id="edit">Crear</a>
            <a  class="card-link" (click)="onCancel($event)" id="dele">Cancelar</a>
          </footer>
        </div>

  </div>
 <!--eliminar deuda -->
  <div *ngIf="deleState" class="pupConfirmer">

    <div class="card content-modal-delete">
      <header class="card-header">
        <p class="card-header-title">
          <i class="fas fa-handshake"></i>
          Saldar Cuenta
        </p>
        <div class="navbar-end">
          <span class="icon close" >
             <i class="fas fa-times" (click)="onCancel($event)"></i>
          </span>
        </div>
      </header>
        <div class="card-content">
          <div class="content">
            <div class="field">
              <label class="label">Deuda Total:</label>
              <div class="control has-icons-left has-icons-right deudatotal">

                <input   [(ngModel)]="deudaParaEditar.cantidad" #cantidad="ngModel"
                name="cantidad" type="number" class="input deudatotal " disabled
                value="{{deudaParaEditar.cantidad}}" >

                <span class="icon is-small is-left">
                  <i class="far fa-credit-card"></i>
                </span>
                <span class="icon is-small is-right">
                  <i class="fas fa-exclamation-triangle"></i>
                </span>
              </div>
            </div>

            <div class="field">
                <label class="label">Abono:</label>
                <div class="control has-icons-left has-icons-right">
                  <input class="input is-success" type="number" [(ngModel)]="abono"
                  placeholder="Inserte Cantidad a Abonar" value="">
                  <span class="icon is-small is-left">
                    <i class="fas fa-donate"></i>
                  </span>
                  <span class="icon is-small is-right">
                    <i class="fas fa-check"></i>
                  </span>
                </div>
                <p class="help is-success">Puedes Abonar una Cantidad Inferior a la Deuda total</p>
              </div>

              <div class="field">
                  <label class="label">Saldo Restante:</label>
                  <div class="control has-icons-left has-icons-right">
                    <input  [(ngModel)]="resto" class="input is-info" type="number"
                     placeholder="Text input"
                     value="{{deudaParaEditar.cantidad - abono}}" disabled>
                    <span class="icon is-small is-left">
                      <i class="fas fa-donate"></i>
                    </span>
                    <span class="icon is-small is-right">
                      <i class="fas fa-check"></i>
                    </span>
                  </div>

                </div>


          </div>
        </div>
        <footer class="card-footer">
          <a  class="card-link" (click)="onDeleteConfirmer($event)" id="edit">Saldar</a>
          <a  class="card-link" (click)="onCancel($event)" id="dele">Cancelar</a>
        </footer>
      </div>

  </div>

<div *ngIf="mencrearState" class="">


    <div class="message1">
      <div class="alert message is-success">
        <strong>Éxito!</strong> La Deuda ha sido Agregada.
      </div>
    </div>

    </div>

    <div *ngIf="menediState" class="">


        <div class="message1">
          <div class="alert message is-warning">
            <strong>Correcto!  </strong>Deuda  Modificada.
          </div>
        </div>

        </div>

        <div *ngIf="mendeleState" class="">


            <div class="message3">
              <div class="alert message is-danger">
                <strong>Bien! </strong> Una Deuda Menos.
              </div>
            </div>

            </div>
